@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #CECE5A;
    --accent-color: #FFE17B;
    --accent-dark-color: #FD8D14;
    --font-color-1: #272829;
    --font-color-2: #C51605;
}

html,
body {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 100vh;
    color: var(--font-color-1);
}

.title {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    max-height: fit-content;
    justify-content: center;
    line-height: 40px;
}

h1 {
    font-size: clamp(1.2rem, 5vw, 2.5rem);
}

.title p {
    margin-left: 40px;
    font-size: clamp(0.9rem, 2vw, 1.5rem)
}

.title span {
    background-image: linear-gradient(to right, var(--accent-dark-color), var(--font-color-2));
    -webkit-background-clip: text;
    color: transparent;
}

.title img {
    margin-left: 20px;
    height: 40px;
    width: 40px;
}

.container {
    /* border: 1px solid black; */
    height: 500px;
    width: 400px;
    border-radius: 30px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, var(--accent-color), var(--accent-dark-color));
    box-shadow: 5px 10px 20px var(--accent-dark-color);
    padding: 0 10px;
}

form {
    /* border: 1px solid #fff; */
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
}

form label {
    /* border: 1px solid #fff;  */
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: clamp(0.9rem, 2vw, 1.2rem);
}

.text {
    /* border: 1px solid #fff;  */
    width: 60%;
}

#celp, #farp {
    margin-left: 5px;
}

input {
    width: 80px;
    height: 50px;
    margin-left: 20px;
    border-radius: 5px;
    font-size: 1.3rem;
    padding: 5px;
}

.btn {
    display: flex;
    height: fit-content;
    justify-content: space-around;
}

button {
    padding: 10px 15px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    background-color: #000;
    color: var(--accent-color);
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    background-color: #272829;
}

@media (max-width: 600px) {
    .container {
        margin: 100px auto;
        height: 400px;
        width: 300px;
    }

    form {
        height: 60%;
        justify-content: space-around;
    }
    
    form label {
        display: flex;
        align-items: center;
        margin-left: 10px;
        font-size: clamp(0.9rem, 2vw, 1.2rem);
    }

    input {
        width: 70px;
        height: 40px;
    }
    
    button {
        padding: 5px 10px;
        font-size: 0.7rem;
    }
}